:root {
  --color-primary: #172339;
  --color-body: #495660;
  --color-creamWhite: #faf8f6;
  --color-cream: #f3ede7;
}

/* Typography */

body {
  color: var(--color-body);
  font-family: "Epilogue", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 2rem;
}

h1,
h2,
h3,
h4 {
  color: var(--color-primary);
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  line-height: 4.875rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.5px;
  line-height: 3.5rem;
}

h3 {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 2rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.625rem;
}

/* Buttons */
.btn {
  border-radius: 8px;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn--primary {
  background: var(--color-primary);
  border-style: none;
  color: var(--color-creamWhite);
  outline: none;
  transition: color 0.3s;
}

.btn--primary:hover {
  background: linear-gradient(to bottom right, #cb30e3, #ffa84e);
}

.btn--secondary {
  background: transparent;
  transition: color 0.3s;
}

.btn--secondary:hover {
  background: var(--color-primary);
  color: var(--color-creamWhite);
}

/* Logo bar */
.logo--bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem;
}
