<div class="hero grid--cols2">
  <div class="media">
    <div class="media__logo">
      <img" src="./assets/pattern-curved-line-2.svg" alt="" />
      <img
        class="media__logo-image"
        src="./assets/pattern-curved-line-1.svg"
        alt=""
      />
    </div>
    <h1 class="media__title">
      A <strong>super solution</strong> for your <strong>business</strong>
    </h1>
    <p class="media__body">
      Our marketing and sales automations help you scale your outreach to get
      more leads for your company.
    </p>
    <button class="btn btn--primary">Request Beta Access</button>
  </div>
  <div class="hero__image">
    <picture>
      <source
        type="image/webp"
        srcset="
          ./assets/image-hero-landscape.webp    1x,
          ./assets/image-hero-landscape@2x.webp 2x
        " />
      <source
        type="image/png"
        srcset="
          ./assets/image-hero-landscape.png    1x,
          ./assets/image-hero-landscape@2x.png 2x
        " />
      <img
        class="hero__image-mobile"
        src="./assets/image-hero-landscape@2x.png"
        alt=""
    /></picture>
    <picture>
      <source
        type="image/webp"
        srcset="
          ./assets/image-hero-portrait.webp    1x,
          ./assets/image-hero-portrait@2x.webp 2x
        " />
      <source
        type="image/png"
        srcset="
          ./assets/image-hero-portrait.png    1x,
          ./assets/image-hero-portrait@2x.png 2x
        " />
      <img
        class="hero__image-desktop"
        src="./assets/image-hero-portrait@2x.png"
        alt=""
    /></picture>
  </div>
</div>
