<div class="quote grid--cols3">
  <div class="quote__image">
    <picture>
      <source
        type="image/webp"
        srcset="
          ./assets/image-jeremy-small.webp    1x,
          ./assets/image-jeremy-small@2x.webp 2x
        " />
      <source
        type="image/png"
        srcset="
          ./assets/image-jeremy-small.png    1x,
          ./assets/image-jeremy-small@2x.png 2x
        " />
      <img
        class="quote__image-mobile"
        src="./assets/image-jeremy-small@2x.png"
        alt=""
    /></picture>
    <picture>
      <source
        type="image/webp"
        srcset="
          ./assets/image-jeremy-large.webp    1x,
          ./assets/image-jeremy-large@2x.webp 2x
        " />
      <source
        type="image/png"
        srcset="
          ./assets/image-jeremy-large.png    1x,
          ./assets/image-jeremy-large@2x.png 2x
        " />
      <img
        class="quote__image-desktop"
        src="./assets/image-jeremy-large@2x.png"
        alt=""
    /></picture>
  </div>
  <div class="quote__icon">
    <img src="./assets/pattern-curved-line-2.svg" alt="" />
  </div>
  <div class="quote__body">
    <h2 class="quote__title">It just <strong>works.</strong></h2>
    <p class="quote__text">
      “I really like how it is an all-in-one solution that handle many of the
      tasks that you would normally need separate tools to do the same job. This
      thing is a miracle worker.”
    </p>

    <h3 class="quote__author">JEREMY ROBINSON</h3>
    <p class="quote__author-company">CMO, FYLO</p>
  </div>
</div>
